body {
background-color: burlywood
}


.grid {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: azure;
    padding: 10px 40px 40px 40px;
    border-radius: 50px;
    border: 3px solid;
}

#status { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: peru;

}

.buttons {
    margin-top: 30px;
}

#btn1, #btn2, #btn3, #btn4 {
    background-color: gray;
    width: 250px;
    font-size: 20px;
    color: white;
    border: 1px solid #cbcfd6;
    border-radius: 60 px;
    margin: 10px 50px 10px 0px;
    padding: 10px 10px;
}

#status {
    color: darkgray;
    font-size: 18px;
}














