body {
background-color: burlywood
}


.grid {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: azure;
    padding: 10px 40px 40px 40px;
    border-radius: 50px;
    border: 3px solid;
}

#status { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: peru;

}




#status {
    color: darkgray;
    font-size: 18px;
}














